.about {
    position: relative;
    //max-width: 1600px;
    margin: 0 auto;
    display: block;
    //padding-top: 200px;
    padding-bottom: 234px;
    //background-color: var(--hero-color);
    &__container {
        display: flex;
        justify-content: space-between;
    }
    &__wrap {
        width: 500px;
        margin-left: 50px;
        &::before {
            position: absolute;
            content: "";
            width: 300px;
            height: 460px;
            top: -160px;
            left: 310px;
            background-image: url(../images/beflt-min.png);
            background-repeat: no-repeat;
        }
        &::after {
            position: absolute;
            content: "";
            width: 500px;
            height: 1200px;
            top: -160px;
            right: 50px;
            background-image: url(../images/bgtr-min.png);
            background-repeat: no-repeat;
        }
    }
    &__title {
        //display: flex;
        margin-bottom: 60px;
        color: var(--text-color);
        font-weight: bold;
        font-size: 45px;
        line-height: 1.4;
        text-align: left;
        //text-transform: uppercase;
    }
    &__span--first {
        color: var(--yellow-color);
        margin-right: 15px;
    }
    &__text {
        width: 300px;
        font-size: 25px;
        line-height: 1.51;
        letter-spacing: 0.03em;
        color: var(--text-color);
        opacity: 0.65;
        margin-bottom: 95px;
    }
    &__txt {
        font-size: 25px;
        line-height: 1.51;
        letter-spacing: 0.03em;
        color: var(--text-color);
        opacity: 0.65;
        margin-bottom: 140px;
    }
    &__button {
        margin-left: 117px;
    }
    &__picture {
        width: 800px;
    }
    &__image {
        width: 800px;
    }
}