.footer {
    padding-bottom: 145px;
    &__image {
        width: 136px;
        height: 79px;
    }
    &__logo {
        position: relative;
        margin-left: 550px;
        margin-bottom: 36px;
        &::before {
            position: absolute;
            content: " ";
            top: -45px;
            left: -80px;
            width: 120px;
            height: 120px;
            background-image: url(../images/scissors1-min.png);
            background-repeat: no-repeat;
            background-size: 102px;
            animation: animate1 3000ms infinite 1000ms;
        }
    }
    &__text {
        width: 526px;
        font-size: 25px;
        line-height: 1.51;
        letter-spacing: 0.03em;
        opacity: 0.65;
        margin: 0 auto 0;
        text-align: center;
        margin-bottom: 47px;
    }
    &__list {
        position: relative;
        margin-left: 480px;
        display: flex;
        &::after {
            position: absolute;
            bottom: -55px;
            right: -60px;
            display: inline-block;
            content: "";
            width: 180%;
            height: 1px;
            background-color: var(--btnbg-color);
        }
    }
    &__item {
        &:not(:last-child) {
            margin-right: 25px;
        }
    }
    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 68px;
        height: 68px;
        border-radius: 68px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        background-color: var(--foolink-color);
        &:hover,
        &:focus {
            background-color: var(--btnbg-color);
        }
    }
}