.hero {
    //max-width: 1600px;
    margin: 0 auto;
    //display: block;
    //padding-top: 200px;
    padding-bottom: 234px;
    background-color: var(--hero-color);
    &__container {
        display: flex;
        justify-content: space-between;
    }
    &__wrap {
        width: 500px;
    }
    &__title {
        //display: flex;
        margin-bottom: 31px;
        color: var(--text-color);
        font-weight: bold;
        font-size: 45px;
        line-height: 1.4;
        text-align: left;
        //text-transform: uppercase;
    }
    &__span--first {
        color: var(--yellow-color);
        margin-right: 15px;
    }
    &__text {
        width: 300px;
        font-size: 25px;
        line-height: 1.51;
        letter-spacing: 0.03em;
        color: var(--text-color);
        opacity: 0.65;
        margin-bottom: 95px;
    }
    &__button {
        margin-left: 117px;
    }
    &__picture {
        width: 800px;
    }
    &__image {
        width: 800px;
    }
}


/*
        display: inline-block;
        text-align: center;
        background-color: var(--accent-color);
        color: var(--white-color);
        font-family: inherit;
        font-family: Roboto;
        font-weight: bold;
        font-size: 16px;
        line-height: 1.87;
        cursor: pointer;
        border-radius: 4px;
        padding: 10px 32px;
    }
    &__container {
        text-align: center;
    }
    &--overlay {
        max-width: 1600px;
        height: 600px;
        margin: 0 auto;
        background: var(--hero-color);
        background-image: linear-gradient( to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Img.bgoptm.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background: cover;
    }
}*/