.button {
    width: 117px;
    height: 47px;
    color: var(--white-color);
    font-size: 16px;
    line-height: 1.5em;
    background-color: var(--btnbg-color);
    border-radius: 12px;
    box-shadow: 10px 10px var(--boxshad-color);
    border: none;
    cursor: pointer;
}