:root {
    --white-color: #ffffff;
    --accent-color: #7491bd;
    --yellow-color: #fbb400;
    --boxshad-color: rgba(153, 186, 237, 0.5);
    --text-color: #163561;
    --btnbg-color: #99baed;
    --bg-color: rgba(229, 229, 229, 0.5);
    --btnho-color: #a3c1ef;
}